@font-face {
	font-family: 'kurri_island_personalblack';
	src: url('/assets/font/kurriislandpersonal-black-webfont.woff2') format('woff2'),
		 url('/assets/font/kurriislandpersonal-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kurri_islandbold';
	src: url('/assets/font/kurriislandpersonal-bold-webfont.woff2') format('woff2'),
		 url('/assets/font/kurriislandpersonal-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kurri_island_personallight';
	src: url('/assets/font/kurriislandpersonal-light-webfont.woff2') format('woff2'),
		 url('/assets/font/kurriislandpersonal-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kurri_island_personalmedium';
	src: url('/assets/font/kurriislandpersonal-medium-webfont.woff2') format('woff2'),
		 url('/assets/font/kurriislandpersonal-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kurri_islandregular';
	src: url('/assets/font/kurriislandpersonal-regular-webfont.woff2') format('woff2'),
		 url('/assets/font/kurriislandpersonal-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kurri_island_personalthin';
	src: url('/assets/font/kurriislandpersonal-thin-webfont.woff2') format('woff2'),
		 url('/assets/font/kurriislandpersonal-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.ki {
	font-family: 'kurri_islandregular';

	&.ki-black { font-family: 'kurri_island_personalblack' }
	&.ki-bold { font-family: 'kurri_islandbold' }
	&.ki-medium { font-family: 'kurri_island_personalmedium' }
	&.ki-light { font-family: 'kurri_island_personallight' }
	&.ki-thin { font-family: 'kurri_island_personalthin' }
}