.hero {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;

	background-image: url('/assets/img/hero-transparent.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.hero-content {
		margin-top: 12.5%;
		margin-right: 45%;

		h1 {
			font-family: 'kurri_islandbold', sans-serif;
			font-size: 4rem;
			font-weight: 100;

			& + p {
				margin: 0;
				font-size: 1.5rem;
			}
		}

		.hero-buttons {
			margin-top: 1rem;

			a.btn {
				text-transform: lowercase;
			}
		}
	}
}